.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--color-primary);
  color: var(--color-black);
}