.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  background-color: #121212;
  /* gap: 40px; */
  width: 100vw;
}

.heroTitle h1 {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  color: var(--color-white);
}