.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 74px;
  background-color: #34c94b; 
  padding: 0 32px !important; 
  /* box-sizing: border-box; */
  width: 95vw;
}