.navbar {
  width: 100%;
  height: 74px;
  background-color: var(--color-primary); /* Green color */
  display: flex;
  align-items: center; /* Vertically center logo, search, button */
  justify-content: space-between;
  box-sizing: border-box;
}