.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 74px;
  background-color: #34c94b; /* Green */
  padding: 0 18px !important; /* Cypress range fix */
  box-sizing: border-box;
}