.sectionWrapper {
  margin: 32px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h3 {
  font-size: 20px;
  font-weight: 600;
}

.toggleText {
  color: #34c94b; /* Green color from Figma */
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(159px, 1fr));
  gap: 40px;
}