.sectionWrapper {
  margin: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.header h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: Black;
}

.toggleText {
  color: #34c94b !important;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.contentWrapper {
  min-height: 250px; /* Minimum height ensures data is visible */
  display: flex;
  align-items: center;
}

.swiperWrapper {
  width: 100%;
  position: relative;
}

/* Slide width fix for Swiper slides */
.swiperSlide {
  width: 159px !important; /* Exact width as per card spec */
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(159px, 1fr));
  gap: 40px;
}

/* Customizing Swiper Navigation Arrows */
:global(.swiper-button-next),
:global(.swiper-button-prev) {
  color: #34c94b;
}